
.myText {
    -fx-font-family: Monospace;
    -fx-font-size: 14px;
    -fx-border-radius: 0;
    -fx-border-size: 0;
    -fx-text-box-border: transparent;
}

.myTitle {
    -fx-font-family: Monospace;
    -fx-font-size: 25px;
}
.fit {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.openBox, .closedBox {
    -fx-padding: 1 0 3 3;
    -fx-border-style: solid;
    -fx-border-color: #696969;
    -fx-border-width: 2 2 0 2;
}

.closedBox {
    -fx-border-width: 2px;
}

.lineNo {
    /* -fx-background-color: grey; */
    /* -fx-border-style: solid; */
    /* -fx-border-color: red; */
    /* -fx-border-width: 1px; */
    -fx-font-family: Monospace;
    -fx-font-size: 14px;
    -fx-text-box-border: transparent;
}


.bad {
  -fx-background-color: pink;
}

.bad:focused {
  -fx-border-color: #039ED3;
    -fx-background-color: pink;
}
.conclusionReached {
    -fx-background-color: #90EE90;
}



//--------------------------------------
//This is were you change the colors

.root .button {
    -fx-background-color: #91A437;
}

.root .tool-bar, .root .scroll-pane, {
    -fx-background: #E8F6A4;
    -fx-base: #E8F6A4;
}

.root .titled-pane > .title, .root .menu-bar , .root .tab {
    -fx-background-color: #BCCD67;
}

.root GridPane, .root VBox,  .root .tab:selected, .root .split-pane {
    -fx-background-color: #E8F6A4;
}
.root .tab-header-background , .root .line {
    -fx-background-color: #445200;
}

